body{
    scroll-margin: 100%;
    scroll-behavior: smooth;
  
}




.para1{
    text-align: center;

    background-color:aquamarine;
    width: 1400px;
    display: flex;
    justify-content: center;
    border-radius: 5000px 5000px 5000px 5000px;
}
.head1{
    vertical-align: text-bottom;
    text-decoration-color: aquamarine;
    background-color: antiquewhite;
    border-radius: 50px 50px 50px 50px;
}
p{
   font-size: large;
   text-align: left;
   padding: 20px 30px 25px;
}
.para2{
    text-align: center;

    background-color: chartreuse;
    width: 1400px;
    display: flex;
    justify-content: center;
    border-radius: 5000px 5000px 5000px 5000px;

}
.head2{
    padding: 20px 12px 10px;
    background-color: cornflowerblue;
    border-radius: 500px 500px 500px 500px;
}
.paragraph1{
    font-size: large;
    text-align: left;
    

 }
 .para3{
    text-align: center;

    background-color: skyblue;
    width: 1400px;
    display: flex;
    justify-content: center;
    border-radius: 5000px 5000px 5000px 5000px;

}
.head3{
    padding: 20px 22px 10px;
    background-color: royalblue;
    border-radius: 500px 500px 500px 500px;
}
.paragraph2{
    font-size: large;
    text-align: left;
    

 }
.head1:hover{
    box-shadow:  0px 8px 15px rgb(246 90 100 / .55);
    background: #db2525;
    color: #fff;

}
.paragraph:hover{
    box-shadow:  0px 8px 15px rgb(246 90 100 / .55);
    background: #43db25;
    color: #fff;

}.head2:hover:hover{
    box-shadow:  0px 8px 15px rgb(246 90 100 / .55);
    background: #25c3db;
    color: #fff;

}.paragraph1:hover{
    box-shadow:  0px 8px 15px rgb(246 90 100 / .55);
    background: #db2525;
    color: #fff;

}
.head3:hover{
    box-shadow:  0px 8px 15px rgb(246 90 100 / .55);
    background: #db2595;
    color: #fff;

}
.paragraph2:hover{
    box-shadow:  0px 8px 15px rgb(246 90 100 / .55);
    background: #a725db;
    color: #fff;

}